<header class="navbar">
    <picture class="navbar__brand">
        <img src="/images/brand.jpg" alt="J&M Angeln Logo">
    </picture>
    <nav class="navbar__navigation">
        <ul>
            <li><a href="/team">Team</a></li>
            <li><a href="/videos">Videos</a></li>
            <li><a href="/social">Social</a></li>
            <li><a href="/merch">Merch</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
    <div class="menu-icon">
        <div class="bar bar1"></div>
        <div class="bar bar2"></div>
        <div class="bar bar3"></div>
    </div>
</header>
<div class="space"></div>