<link rel="stylesheet" href="/styles/slideshow.css" />
<script defer src="/scripts/slideshow.js"></script>
<section class="slider">
    <div class="slide current"></div>
    <div class="slide"></div>
    <div class="slide"></div>
    <div class="slide"></div>
</section>
<div class="slider__content">
    <h1>Unterstütze unsere Videoproduktion</h1>
    <p>
        Alle unsere Produkte werden von Hand in einem
        Doppeldruckverfahren gefertigt. Die aufgedruckten
        Motive sind somit langlebig und haben eine wirklich
        knallige Farbe.<span class="hide-on-mobile"> Mit jedem gekauften Artikel unterstützt
        du uns bei unserer Videoproduktion.</span>
    </p>
</div>
<div class="dots"></div>