<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>J&M Angeln - Seite nicht gefunden</title>
    <link rel="stylesheet" href="/styles/global.css">
    <style>
        main {padding: 2rem 5vw;}
        main h1 {font-size: 6vw;}
        a {padding: 1rem !important;}
    </style>

</head>
<body>
        
    <% include includes/navigation %>
    <main class="centered">
        <h1>Die gewünschte Seite konnte nicht aufgerufen werden.</h1>
        <br>
        <a class="btn" href="/">Zurück zur Startseite</a>
    </main>

</body>
</html>