<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>J&M Angeln - Auftragsbest채tigung</title>
        <% include includes/styles %>
    </head>
    <body>
        <% include includes/navigation %>
        <main class="centered">
            <h1>Vielen Dank f체r deine Unterst체tzung</h1>
            <h2>
                Eine Best채tigung der Transaktion wurde an dein E-Mail-Postfach
                gesendet.
            </h2>
        </main>
    </body>
</html>
