<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>J&M Angeln - Datenschutz</title>
        <% include includes/styles %>
        <style>
            .intro h1 {
                margin: 0;
            }
        </style>
    </head>
    <body>
        <% include includes/navigation %>
        <main>
            <section class="intro">
                <h1>
                    Soweit nachstehend keine anderen Angaben gemacht werden, ist
                    die Bereitstellung Ihrer personenbezogenen Daten weder
                    gesetzlich oder vertraglich vorgeschrieben noch für einen
                    Vertragsabschluss erforderlich. Sie sind zur Bereitstellung
                    der Daten nicht verpflichtet. Eine Nichtbereitstellung hat
                    keine Folgen. Dies gilt nur soweit bei den nachfolgenden
                    Verarbeitungsvorgängen keine anderweitige Angabe gemacht
                    wird. "Personenbezogene Daten" sind alle Informationen, die
                    sich auf eine identifizierte oder identifizierbare Person
                    beziehen.
                </h1>
            </section>
        </main>
    </body>
</html>
