<!DOCTYPE html>
<html lang="de">
<head>

    <title>J&M Angeln</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Die offizielle Webseite des J&M Angel Team von Youtube">

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="96x96" href="/icons/icon-96x96.png">
    <link rel="apple-touch-icon" sizes="128x128" href="/icons/icon-128x128.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/icon-152x152.png">
    <link rel="apple-touch-icon" sizes="192x192" href="/icons/icon-192x192.png">
    <link rel="apple-touch-icon" sizes="384x384" href="/icons/icon-384x384.png">
    <link rel="apple-touch-icon" sizes="512x512" href="/icons/icon-512x512.png">

    <meta name="theme-color" content="#000">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="/styles/global.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/banner.css">

</head>
<body>

    <% include includes/navigation %>
    
    <main>

        <section class="banner">
            <img src="https://placehold.it/100x100" alt="test">
        </section>

        <section class="social">
            <a
                href="https://www.facebook.com/JM-Angeln-303379709797317"
                target="_blank"
                rel="noopener"
                class="social__icon"
            >
                <img src="./images/home/facebook.svg" alt="Facebook Icon">
            </a>
            <a
                href="https://www.youtube.com/user/jonas9192"
                target="_blank"
                rel="noopener"
                class="social__icon"
            >
                <img src="./images/home/youtube.svg" alt="Youtube Icon">
            </a>
            <a
                href="https://www.instagram.com/jm_angeln/"
                target="_blank"
                rel="noopener"
                class="social__icon"
            >
                <img src="./images/home/instagram.svg" alt="Instagram Icon">
            </a>
        </section>

        <section class="content">
            <h1>Hintergrund</h1>
            <div class="content__head">
                <img src="./images/home/fish.png" alt="Fischlogo" />
                <p>
                    Angeln ist mehr als nur Fische fangen und jeder 
                    von uns verbindet es mit etwas anderem.
                </p>
                <img src="./images/home/fish.png" alt="Fischlogo" />
            </div>
            <p class="content__text">
                Für uns bedeutet Angeln Zeit mit guten Freunden in der Natur zu 
                verbringen, die Wildnis zu erleben und einem Biss entgegen zu 
                fiebern. Kein Angelausflug gleicht dem anderen und jede Session 
                ist auf ihre eigene Weise etwas Besonderes. Umso wichtiger ist 
                es sich durch Fotos bzw. Videos bleibende Erinnerungen an eine 
                sorgenfreie Zeit zu schaffen. Mit genau diesem Gedanken begannen 
                wir vor etwas mehr als sechs Jahren damit unsere kleineren 
                Angelausflüge und unsere Fänge zu fotografieren. Um unsere 
                vergangenen Abenteuer noch einmal erleben zu können und Erfahrungen 
                festzuhalten, begannen wir erste Filaufnahmen unserer Sessions zu 
                erstellen. Da wir selbst mit Begeisterung die Abenteuer und Tricks 
                anderer Angler auf Youtube verfolgten und dabei viel lernten, kam 
                uns der Gedanke das weitere Angelanfänger von unseren Erfahrungen 
                profitieren könnten.
            </p>
        </section>

        <section class="cards">
            <div class="card-wrapper">
                <a class="card" href="/merch">
                    <img
                        class="lazy card__image"
                        src="/images/home/merch.jpg"
                        alt="info-card image"
                    >
                    <div class="card__content">
                        <h1>Merch</h1>
                        <p>
                            Egal ob am Wasser mit Freunden oder in der Schule durch die 
                            neongrünen Schrift stichst du auf jeden Fall heraus, so ein 
                            cooles Design fällt auf und passt überall hin. Von T-Shirts 
                            über Hoodies bis hin zur Snapback haben wir für jeden was am 
                            Start.
                        </p>
                    </div>
                </a>
                <a class="card" href="/team">
                    <img
                        class="lazy card__image"
                        src="/images/home/team.jpg"
                        alt="info-card image"
                    >
                    <div class="card__content">
                        <h1>Team</h1>
                        <p>
                            J&M Angeln besteht im Grunde aus Jonas und Nico die du als 
                            Gesichter des Kanals kennst. Im Hintergrund stehen noch einige 
                            weitere Personen ohne deren Hilfe wir nicht dort wären wo wir 
                            heute sind.
                        </p>
                    </div>
                </a>
                <a class="card" href="/videos">
                    <img
                        class="lazy card__image"
                        src="/images/home/videos.jpg"
                        alt="info-card image"
                    >
                    <div class="card__content">
                        <h1>Videos</h1>
                        <p>
                            Erlebnisse,  Erfahrungen und Eindrücke unserer Abenteuer am 
                            Wasser teilen wir mit euch auf verschiedenen Social Media 
                            Plattformen. Auf unserem YouTube-Kanal veröffentlichen wir 
                            regelmäßig neue Angelvideos mit Tipps, Tricks und tollen 
                            Naturaufnahmen.
                        </p>
                    </div>
                </a>
            </div>
        </section>
    </main>

    <% include includes/footer %> 

    <link rel="stylesheet" href="./styles/content.css">
    <link rel="stylesheet" href="./styles/cards.css">
    <link rel="stylesheet" href="./styles/info-card.css">

    <!-- <script src="./scripts/init-sw.js"></script> -->

</body>
</html>
