.banner {
    background-color: black;
    height: 100vh;
    width: 100%;
}
.label {
    position: absolute;
    top: 17.5vh;
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.label__text, .label__highlight {
    font-family: 'Syncopate', cursive;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 0 black;
    opacity: 1;
    margin: 0;
    letter-spacing: -0.25rem;
}
.label__text {
    font-size: 7.5rem;
}
.label__highlight {
    color: var(--primary-color);
    margin-top: -42px;
    font-size: 5.65rem;
}
.social img {
    height: 100px;
    width: auto;
    filter: invert(100%);
    margin: 0 6px;
}
.social {
    padding: 0 2.5rem;
    position: absolute;
    bottom: 160px;
    left: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.down {
    width: 100%;
    height: fit-content;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blink {
    animation: blinker 3s linear infinite;
  }
  @keyframes blinker {
      50% {
        opacity: 0;
    }
}
.down img {
    filter: invert(100%);
    height: 30px;
    width: auto;
}

@media (max-width: 1400px) {
    .label__text {
        font-size: 5.5rem;
    }
    .label__highlight {
        font-size: 4.2rem;
    }
    .social i {
        font-size: 120px;
    }
}
@media (max-width: 768px) {
    .label__text {
        font-size: 4.5rem;
    }
    .label__highlight {
        margin-top: -32px;
        font-size: 3.4rem;
    }
    .social i {
        font-size: 100px;
    }
}
@media (max-width: 575px) {
    .label__text {
        font-size: 4.25rem;
    }
    .label__highlight {
        font-size: 3.25rem;
    }
    .social img {
        height: 80px;
    }
}
@media (max-width: 425px) {
    .label__text {
        font-size: 3.5rem;
    }
    .label__highlight {
        font-size: 2.7rem;
    }
    .social i {
        font-size: 70px;
    }
    .social {
        bottom: 40px;
    }
    .down {
        display: none;
    }
}
@media (max-width: 375px) {
    .label__text {
        font-size: 3rem;
    }
    .label__highlight {
        font-size: 2.3rem;
    }
    .social img {
        height: 70px;
    }
}