.banner {
    position: relative;
    height: calc(100vh - 60px);
    width: 100%;
    background-color: #000;
}
.hero {
    width: 70%;
    min-width: 768px;
    height: auot;
    position: absolute;
    right: -30px;
    bottom: 0;
    z-index: 0;
}
.banner__text {
    position: relative;
    background-color: transparent;
    top: 50px;
    left: 75px;
    color: #fff;
    width: fit-content;
    height: auto;
    text-align: left;
    font-family: 'Arial Narrow Bold', sans-serif;
    line-height: 0.8;
    text-transform: uppercase;
    text-align: right;
    z-index: 1;
}
.banner__text h1 {
    margin: 0;
    font-size: 80px;
    font-weight: 900 !important;
}
.banner__text h1:not(.highlight) {
    width: 100%;
    text-shadow: 2px -2px 0 gray;
}
.banner__text .highlight {
    color: var(--primary-color);
    text-shadow: 2px -2px 0 rgba(0, 245, 0, 0.4);
}
.social {
    display: flex;
    position: relative;
    margin: 1rem 0 0 auto;
    background-color: transparent;
    height: auto;
    width: 300px;
}
.social__icon img {
    position: relative;
    filter: invert(1);
    width: 100%;
    height: auto;
}

.green.social__icon img {
    filter: invert(59%) sepia(35%) saturate(7455%) hue-rotate(87deg) brightness(120%) contrast(122%);
}

.social__icon {
    margin: 0 5px;
}

@media (max-width: 768px) {
    .hero {
        position: relative;
        /* top: 0; */
        bottom: unset;
        height: auto;
        width: 100%;
        min-width: unset;
        right: 0;
    }
    .social {
        margin:  20px auto 0 auto;
        justify-content: center;
    }
    .banner__text {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
        top: 55vw;
        line-height: 0.9;
    }
    .banner__text h1 {
        font-size: 10vw;
    }
    .social__icon img  {
        height: 62px;
        width: auto;
    }
}
@media (max-width: 425px) {
    .banner__text h1 {
        font-size: 44px;
    }
    .banner__text {
        line-height: 1;
    }
}
@media (max-width: 350px) {
    .banner__text h1 {
        font-size: 36px;
    }
}