.banner {
    position: relative;
    background-color: black;
    height: 100vh;
    width: 100vw;
    top: -35vh;
    overflow-x: hidden;
    z-index: -100;
}
.banner, .label {
    transform: skewY(6deg);
    -webkit-transform: skewY(6deg);
}
.label {
    position: absolute;
    top: 12.5vh;
    left: 10%;
    width: 80%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.label__text, .label__highlight {
    font-family: 'Syncopate', cursive;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 0 black;
    opacity: 1;
    margin: 0;
    letter-spacing: -0.25rem;
}
.label__text {
    font-size: 7.5rem;
    text-shadow: -3px 3px 0 gray;
}
.label__highlight {
    color: var(--primary-color);
    margin-top: -40px;
    font-size: 5.65rem;
    text-shadow: -3px 3px 0 rgba(0, 100, 0, 1);
}
.social img {
    height: 110px;
    width: auto;
    margin: 0 5px;
    opacity: 1;
}
.social__icon:hover img {
    filter: invert(52%) sepia(81%) saturate(2774%) hue-rotate(85deg) brightness(117%) contrast(124%);
}
.social {
    padding: 0 2.5rem;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1400px) {
    .label__text {
        font-size: 5.5rem;
    }
    .label__highlight {
        font-size: 4.2rem;
    }
}
@media (max-width: 768px) {
    .label__text {
        font-size: 4.5rem;
    }
    .label__highlight {
        margin-top: -30px;
        font-size: 3.4rem;
    }
}
@media (max-width: 575px) {
    .banner {
        top: -40vh;
    }
    .label__text {
        font-size: 4.25rem;
    }
    .label__highlight {
        font-size: 3.25rem;
    }
    .social {
        bottom: 1rem;
    }
    .social img {
        height: 100px;
    }
}
@media (max-width: 425px) {
    .label__text {
        font-size: 3.5rem;
    }
    .label__highlight {
        font-size: 2.7rem;
    }
    .social i {
        font-size: 70px;
    }
}
@media (max-width: 375px) {
    .social img {
        height: 80px;
    }
}