.post {
    position: relative;
    padding: 2rem;
    margin: 1rem;
    border: 1px solid white;
    box-shadow: 0 4px 12px -4px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    display: inline-block;
}
.post__title {
    font-size: 1.5rem;
    padding: 0 20px;
    margin-bottom: 0;
}
.post__date {
    margin-top: 0;
    margin-bottom: 2rem;
}
.post__image {
    height: 200px;
    width: 250px;
    object-fit: contain;
}
.post:hover {
    position: relative;
    top: -4px;
}