.cards {
    width: 100%;
    height: fit-content;
    margin: 1rem 0;
}

.card-wrapper {
    width: 85%;
    max-width: 1374px;
    margin: 0 auto;
    padding: 2.5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(400px, fit-content));
    grid-gap: 20px;
}

.card-wrapper info-card {
    position: relative;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
}

@media (max-width: 425px) {
    .cards {margin: 0;}
    .card-wrapper info-card:hover {transform: none;}
    .card-wrapper {
        width: 100%;
        margin: 0;
        grid-gap: 0;
        padding: 0;
        grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
    }
}
