.cards {
    width: 100%;
    height: fit-content;
}

.card-wrapper {
    width: 85%;
    max-width: 1374px;
    margin: 0 auto;
    padding: 2.5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(400px, fit-content));
    grid-gap: 2rem;
}

.card-wrapper info-card {
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s;
}

.card-wrapper info-card:hover {
    transform: scale(1.033);
}

@media (max-width: 400px) {
    .card-wrapper {
        width: calc(100% - 8px);
        margin: 0 4px;
        grid-gap: 4px;
        padding: 0 0 4px 0;
        grid-template-columns: repeat(auto-fit, minmax(312px, 1fr));
    }
    .card-wrapper info-card:hover {
        transform: none;
    }
}
