.cart {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 90px;
    width: 90px;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.25s;
    border-radius: 10px;
    transition: all 0.5s;
}
.cart:after {
    opacity: 0;
    color: white;
    transition: all 0.5s;
    margin-right: 0.5rem;
}
.cart:hover {
    width: 240px;
}
.cart:hover::after {
    content: 'Zum Warenkorb';
    opacity: 1;
    animation: fade 1.8s;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.cart img {
    filter: invert(100%);
    min-height: 50px;
    min-width: 50px;
}
.cart .qty {
    position: absolute;
    color: white;
    left: 64px;
    bottom: 12px;
    font-size: 20px;
    font-family: sans-serif;
}
@media (max-width: 425px) {
    .cart {
        height: 70px;
        width: 70px;
        right: 10px;
        bottom: 10px;
    }
    .cart img {
        min-height: 32px;
        min-width: 32px;
    }
    .cart .qty {        
        left: 48px;
        font-size: 16px;
    }
}