.cart {
    position: fixed;
    bottom: 0;
    right: -200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: fit-content;
    width: fit-content;
    padding: 24px;
    cursor: pointer;
    transition: all 0.25s;
    width: 320px;
}
.cart:hover {
    right: 0;
}
.cart a:hover {
    color: var(--primary-color);
}
.cart img {
    filter: invert(100%);
    height: 50px;
    width: 50px;
    margin-right: 8px;
}
.cart a {
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
}
.cart span {
    position: absolute;
    color: white;
    left: 80px;
    bottom: 20px;
    font-size: 26px;
    font-family: sans-serif;
}
@media (max-width: 425px) {
    .cart {
        right: -220px;
    }
    .cart img {
        height: 30px;
        width: 30px;
        margin-right: 4px;
    }
    .cart span {
        left: 60px;
    }
}