.content {
    width: 85%;
    margin: 0 auto;
}

.content h1 {
    text-align: center;
    font-size: 4vw;
    margin: 1rem auto;
    font-weight: 100;
    letter-spacing: -0.1rem;
}

.content__head {
    width: 80%;
    margin: 0 auto;
    font-size: 2.5vw;
    text-align: center;
    padding: 0.5rem 0;
    line-height: 1.5;
}

.content__text {
    text-align: justify;
    line-height: 2;
    text-justify: inter-word;
    font-size: 18px;
}

.content__head p {
    font-family: 'Source Serif Pro', serif;;
    letter-spacing: 4px;
    word-break: keep-all;
    color: rgb(80, 80, 80);
    font-style: italic;
    margin: 1.75rem auto;
}

@media (max-width: 1024px) {
    .content h1 {
        font-size: 5vw;
    }
    .content__text {
        font-size: 16px;
    }
    .content__head {
        font-size: 1.75rem;
    }
}

@media (max-width: 768px) {
    .content__head {
        font-size: 1.5rem;
    }
}

@media (max-width: 575px) {
    .content h1 {
        font-size: 1.8rem;
    }
    .content__head {
        font-size: 1.25rem;
    }
    .content__text {
        font-size: 12px;
    }
}

@media (max-width: 400px) {
    .content__text {
        margin-bottom: 2.5rem;
    }
}
