.content {
    width: 80%;
    margin: 0 auto;
}

.content h1 {
    text-align: center;
    font-size: 4vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content__head {
    font-size: 2.75rem;
    text-align: center;
    margin-bottom: 1rem;
}

.content__text {
    text-align: justify;
    line-height: 1.75;
    text-justify: inter-word;
    font-size: 20px;
    margin-bottom: 2rem;
}

.content q::before,
.content q::after {
    font-weight: bold;
}

@media (max-width: 1024px) {
    .content h1 {
        font-size: 5vw;
    }
    .content__text {
        font-size: 16px;
    }
    .content__head {
        font-size: 1.75rem;
    }
}

@media (max-width: 768px) {
    .content__head {
        font-size: 1.5rem;
    }
}

@media (max-width: 575px) {
    .content h1 {
        font-size: 1.8rem;
    }
    .content__head {
        font-size: 1.3rem;
    }
    .content__text {
        font-size: 15px;
    }
}

@media (max-width: 350px) {
    .content__text {
        font-size: 14px;
    }
}