:root {
    --primary-color: #00F500;
}
@font-face {
    font-family: 'Syncopate';
    src: url('../fonts/Syncopate-Bold.ttf') format('truetype');
    font-display: block;
}
@font-face {
    font-family: 'Exo';
    src: url('../fonts/Exo-Regular.ttf') format('truetype');
    font-display: block;
}
@font-face {
    font-family: 'Petit Formal Script';
    src: url('../fonts/PetitFormalScript-Regular.ttf') format('truetype');
    font-display: block;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, ul, p {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Exo', sans-serif;
    overflow-x: hidden;
    user-select: none;
    /* -webkit-touch-callout: none; iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    -webkit-tap-highlight-color: transparent;
}
.space {
    height: 60px;
}
.path {
    font-size: 20px;
    height: 40px;
    font-family: 'Exo';
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.path img {
    margin: auto 6px;
}
