:root {
    --primary-color: #00F500; 
}
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, ul {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}