.card {
    position: relative;
    background-color: white;
    box-shadow: 0 4px 12px -4px;
    width: fit-content;
    min-width: 300px;
    height: 450px;
    max-height: 500px;
    text-overflow: clip;
}

.card__content h1 {
    text-align: center;
    padding: 0.5rem 0;
    margin: 0.2rem 0 0 0;
    letter-spacing: -0.05rem;
}

.card__content p {
    padding: 0.5rem 1.5rem 1rem 1.5rem;
    text-align: justify;
    line-height: 1.7;
    font-size: 14px;
    margin: 0;
}

.card__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: none;
    outline: none;
}

@media (max-width: 525px) {
    .card__content p {
        font-size: 13px;
    }
}

@media (max-width: 400px) {
    .card {
        height: fit-content;
    }
    .card__content h1 {
        font-size: 24px;
    }
    .card__content p {
        font-size: 12px;
        padding-bottom: 2rem;
    }
    .card__image {
        height: 170px;
    }
}
