.products {
    margin-top: 40px;
}

info-card img {
    display: none !important;
}

.heading {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 30px;
}

.heading h1 {
    margin: 2.5vh 0;
    font-weight: 100;
}

.filter {
    position: relative;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    transition: all 0.5s;
    font-size: 24px;
}

.price {
    color: darkred;
    font-weight: 100;
    margin: 0;
}

info-card h1 {
    margin: 0 !important;
    font-weight: 100 !important;
    font-size: 28px;
}

.product__info {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}

.product__info h1 {
    width: fit-content;
}

.product__info button {
    font-size: 20px;
    font-family: 'Maven Pro', sans-serif;
    border: none;
    background-color: white;
    padding: 4px 16px;
    box-shadow: 0 0 2px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 200ms;
}

.product.soldout {
    cursor: not-allowed;
}

.product__info button:hover {
    color: white;
    background-color: black;
}

@media (max-width: 600px) {
    .heading {
        font-size: 32px;
    }
}

@media (max-width: 425px) {
    .heading {
       font-size: 16px;
    }
    .product__info {
        flex-direction: column;
    }
}
