.categories {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.categories > * {
    margin: 0;
    transition: all 200ms cubic-bezier(0, 0, 0.3, 1);
    cursor: pointer;
    padding: 4px 8px;
    font-weight: 100;
    font-size: 24px;
}
.categories > *.active {
    letter-spacing: 2px;
    background-color: rgba(0, 245, 0, 0.3);
}
.categories > *:hover {
    letter-spacing: 2px;
    background-color: rgba(0, 245, 0, 0.3);
}
.products {
    margin-top: 40px;
}

.filter {
    position: relative;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto auto;
    transition: all 0.5s;
    font-size: 24px;
}

.price {
    color: darkred;
    font-weight: 100;
    margin: 0;
}

info-card h1 {
    margin: 0 !important;
    font-weight: 100 !important;
    font-size: 28px;
}

.product__info {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
}

.product__info button {
    font-size: 20px;
    font-family: 'Maven Pro', sans-serif;
    border: none;
    background-color: white;
    padding: 4px 16px;
    box-shadow: 0 0 2px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 200ms;
}

.product__info button:hover {
    color: white;
    background-color: black;
}

#search {
    font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
    padding: 0.8rem;
    border-radius: 2px;
    width: 100%;
    border: 1px solid white;
    outline: none;
    box-shadow: 0 0 2px;
    -webkit-appearance: none;
    border-radius: 8px;
}
#search::placeholder {
    font-size: 20px;
}
#search:focus {
    border: 1px solid black;
}
#search:focus::placeholder {
    color: transparent;
}
.price__config span {
    width: 50px;
    text-align: center;
}
.price__config {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px 0;
}
.price__config > * {
    margin: 6px;
}
.price__range {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}
.price__range span {
    display: inline-block;
    width: 20%;
    text-align: center;
}
.price__output {
    border-radius: 8px;
    background-color: rgb(240, 240, 240);
    text-align: center;
    padding: 4px;
    width: 100%;
    flex-grow: 1;
}
label {
    margin: 10px 0;
}
.filter__price {
    margin-top: 10px;
}
.price__config input[type='range'] {
    -webkit-appearance: none;
    width: 60%;
    height: 25px;
    background: black;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    box-shadow: none;
    border-radius: 0;
}
.price__config input[type='range']:hover {
    opacity: 1;
}
.price__config input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--primary-color);
    cursor: pointer;
    border: 1px solid var(--primary-color);
}
.price__config input[type='range']::-moz-range-thumb,
.price__config input[type='range']::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    cursor: pointer;
}
@media (max-width: 768px) {
    .filter {
        width: 500px;
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .filter {
        width: 300px;
    }
    .price__config {
        flex-direction: column;
    }
    .categories > * {
        font-size: 18px;
    }
}
