.navbar {
    position: fixed;
    height: 80px;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 0 0 1.2rem;
}
.navbar__brand {
    height: calc(100% - 1.5rem);
    width: auto;
    margin-left: 0.75rem;
    position: relative;
}
.navbar__brand source, .navbar__brand img {
    height: 100%;
}
.navbar__navigation {
    width: 80%;
}
.navbar__navigation ul {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.navbar__navigation ul li {
    font-size: 1.8rem;
    height: 80px;
    width: 100%;
}
.navbar__navigation ul li a {
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar__navigation ul li a:hover {
    background-color: rgb(12, 12, 12);
    color: var(--primary-color);
}
.sticky {
    position: fixed;
    top: 0;
}
.menu-icon {
    display: none;
    cursor: pointer;
    margin-right: 1.2rem;
}
.bar {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 2px;
}
.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px) ;
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
@media(max-width: 1200px) {
    .navbar__brand {
        height: calc(100% - 1.5rem);
        width: auto;
        margin-left: 0.75rem;
    }
    .navbar__navigation ul li {
        font-size: 1.6rem;
    }
}
@media(max-width: 992px) {
    .navbar__navigation ul li {
        font-size: 1.5rem;
    }
}
@media(max-width: 768px) {
    .menu-icon {
        display: inline-block;
    }
    .navbar__navigation {
        position: fixed;
        height: 100%;
        width: 0;
        top: 0;
        right: 0;
        background-color: black;
        overflow: hidden;
        transition: width 0.3s;
        -webkit-transition: width 0.3s;
        margin: 80px 0 0 0;
    }
    .navbar__navigation ul {
        height: calc(100vh - 80px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .navbar__navigation ul li {
        font-size: 1.6rem;
        height: 60px;
        margin: 0.25rem 0;
        transition: opacity 0.125s;
    }
}