div, p {
    margin: 0;
    padding: 0;
}
.video {
    width: 100%;
    /* max-width: 840px; */
    height: 200px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 4px;
    transition: 0.3s;
    font-size: 14px;
    cursor: pointer;
    border-radius: 32px;
    background-color: white;
    opacity: 1;
}
.video:hover {
    transform: scale(1.025);
}
.info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2.5rem;
}
.info__title {
    margin-top: 0;
    font-weight: 100;
}
.video__image {
    opacity: 0.9;
    height: 100%;
    width: auto;
    border-radius: 32px;
}
@media screen and (max-width: 768px) {
    .video {
        font-size: 12px;
    }
}

@media screen and (max-width: 660px) {
    .video {
        border: none;
        width: 320px;
        margin: auto;
        height: fit-content;
        flex-direction: column-reverse;
    }
    .video:hover {
        transform: none;
    }
    .video__image {
        border-radius: 32px 32px 0 0;
    }
    .info__title {
        margin: 0;
        padding: 2rem;
        font-size: 1rem;
    }
    .info {
        padding: 0;
    }
    .info__button {
        margin-bottom: 2rem;
    }
    .info__date {
        display: none;
    }
}

@media screen and (max-width: 340px) {
    .video, .video__image {
        width: 304px;
    }
}