.products {
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin: 1rem 0 2rem 0;
}
.product {
    position: relative;
    height: 150px;
    width: 100%;
    display: flex;
    border: none;
    padding: 2rem;
}
.product:hover {
    background-color: rgb(244, 244, 244);
}
.product:hover a {
    background-color: rgb(244, 244, 244);
}
.product__image {
    align-self: center;
    height: 100%;
    width: auto;
    margin-left: 10px;
    object-fit: cover;
}
.product > div {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}
.product__info h1, .product__info p {
    text-align: left;
    margin: 0;
}
.product__info h1 {
    font-size: 28px;
    font-weight: 100;
    letter-spacing: 4px;
}
.product__info p {
    font-size: 16px;
}
.product__action a {
    font-family: 'Exo', sans-serif;
    border: none;
    background-color: white;
    cursor: pointer;
    color: black;
    text-decoration: none;
    padding: 10px;
}
.product__action a:hover {
    background-color: none;
    text-decoration: underline;
}
.product__action {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.product__action img {
    height: 22px;
    width: 22px;
    margin: 0 0.25rem 2px 0.5rem;
}
.product__action span {
    margin: 1px 10px 0 0;
}
.product hr {
    border: none;
    outline: none;
    height: 1px;
    width: 90%;
    margin: 0 auto;
    background-color: gray;
}
.price {
    color: darkred;
}
.filter {
    position: relative;
    width: calc(100% - 40px);
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 20px;
    transition: all 0.5s;
}

.filter__price > * {
    margin: 0.5rem;
}
#search {
    font-family: 'Exo', sans-serif;
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 2px;
    min-width: 200px;
    border: none;
    outline: none;
    box-shadow: 0 0 2px;
    -webkit-appearance: none;
}
.price__config span {
    width: 50px;
    text-align: center;
}
.filter__price, .price__config {
    display: flex;
    justify-content: center;
    align-items: center;
}
.price__output {
    padding: 0.6rem;
    border-radius: 6px;
    background-color: rgb(240, 240, 240);
    width: 100px;
    text-align: center;
}
.filter__rate {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
}
.filter__rate .star {
    height: 36px;
    width: 36px;
    cursor: pointer;
}
#search:focus {
    box-shadow: 0 0 4px;
}
label {
    margin: 10px 0;
}
@media (max-width: 1200px) {
    .product__info h1 {
        font-size: 24px;
    }
    .product__info p {
        font-size: 16px;
    }
    .product__action {
        font-size: 20px;
    }
}
@media (max-width: 900px) {
    .filter {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .filter, .filter__price {
        flex-direction: column;
    }
    .price__output {
        width: 200px;
    }
    .filter__price, .filter__rate {
        margin-top: 10px;
    }
}
@media (max-width: 500px) {
    .products {
        grid-template-columns: 1fr;
        grid-row-gap: 2rem;
        margin: 0;
    }
    .product {
        flex-direction: column;
        height: fit-content;
        width: 100%;
        padding: 0;
    }
    .product:hover {
        background-color: white;
    }
    .product:hover a {
        background-color: white;
        text-decoration: none;
    }
    .product__action {
        justify-content: space-evenly;
        border: 1px solid rgb(200, 200, 200);
        padding: 0 1rem;
    }
    .product > div {
        margin-left: 0;
    }
    .product__info h1, .product__info p {
        text-align: center;
        margin: 1rem 0;
    }
    .product__info p {
        margin: 1rem 3rem;
    }
    .product__image {
        width: 100px;
        height: 100px;
        margin: 0;
    }
    .product hr {
        display: none;
    }
    .price {
        padding-left: 10px;
    }
}