.slider {
    position: relative;
    overflow: hidden;
    height: calc(100vh - 60px);
    top: 60px;
    width: 100%;
}

.slide {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.65s ease-in-out;
}

.slide.current {
    opacity: 1;
}

.slide__content {
    position: absolute;
    right: 40px;
    bottom: 80px;
    width: 50vw;
    height: fit-content;
    background-color: rgba(255, 255, 255, 0.92);
    color: #333;
    padding: 1.5rem 1.5rem 5rem;
    opacity: 0;
    transition: all 0.65s ease-in-out;
    border-radius: 10px;
}

.slide__content h1 {
    margin: 0 0 4px 0;
    font-size: 24px;
    letter-spacing: -1px;
}

.slide__content p {
    font-size: 18px;
}

.slide.current .slide__content {
    opacity: 1;
}

.slide:nth-child(2) {
    background: url('../images/merch_many.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.slide:first-child {
    background: url('../images/merch_muetze.jpg') no-repeat;
    background-position: 50% 30%;
    background-size: cover;
}

.dots {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    background-color: white;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.dot.current {
    transform: scale(1.8);
}

@media (max-width: 600px) {
    .slider {
        margin: 0;
        height: 80vh;
        width: 100%;
        border-radius: 0;
    }
    .dots {
        display: none;
    }
    .buttons button {
        width: 50%;
        border-radius: 0 !important;
        padding: 1rem !important;
    }
    .slide .slide__content {
        position: absolute;
        width: 100%;
        height: 30vh;
        right: 0;
        bottom: 20px;
        transform: scale(0.9);
    }

    .slide__content h1 {
        font-size: 20px;
    }
    
    .slide__content p {
        font-size: 16px;
    }
}
