body {
    background-color: black;
}
.video-player {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    align-self: center;
    background-color: black;
}
#player {
    width: 100vw;
    height: calc(100vh - 60px);
}
.playlist {
    width: 100%;
    margin: 1rem auto;
    position: relative;
    height: fit-content;
    background-color: black;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 600px));
    column-gap: 4px;
    row-gap: 4px;
    justify-content: center;
}